<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>


    &nbsp;&nbsp;<img class="navbar-brand-full" src="/img/trazio3.png" width="89" height="25" alt="Logo">
  
  @*   <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button> *@
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/#">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/Admin">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

    </ul>

    <partial name="_LoginPartial.cshtml" />
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    
</header>

