<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon fa fa-home"></i> Home
                </a>
            </li>
         
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fa fa-tasks"></i> Reports
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Reports/SalesSummaryResults">
                            <i class="nav-icon fa fa-minus"></i> Sales Summary
                        </a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a class="nav-link" href="Reports/UnsubscribedCasesBilling">
                            <i class="nav-icon fa fa-minus"></i> Unsubscribed Billing
                        </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="Reports/PartnerWiseSales">
                           <i class="nav-icon fa fa-minus"></i>Sales Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Reports/PartnerCashIn">
                        <i class="nav-icon fa fa-minus"></i>Payments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Reports/ActiveSubscriptionBilling">
                        <i class="nav-icon fa fa-minus"></i>Active Billing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Reports/Statement">
                        <i class="nav-icon fa fa-minus"></i>Statements
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fa fa-line-chart"></i> Analytics
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Analytics/">
                            <i class="nav-icon fa fa-minus"></i> ...
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Analytics/">
                            <i class="nav-icon fa fa-minus"></i> ...
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Analytics/">
                            <i class="nav-icon fa fa-minus"></i> ...
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-title">Admin</li>


        
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fa fa-cogs"></i> Config
                </a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
